__pycache__/
input/
islandpick.pickle
islandpick/
output/EDirect_references
output/isl.out
output/islandpick.out
output/islandpick.pos.out
output/islandpick.pos.v3.out
output/islandpick.v1.out
output/islandpick.v1.pos.out
output/islandpick.v2.out
output/islandpick.v2.pos.out
output/islandpick.v3.out
output/querier_output_references
output/references_organism_position.out
prediction.py
tmp
output/querier_output
output/querier_output_GI
islandpick_suptable1.pickle
nohup.out
get_sequences.sh
database.pickle
